@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  display: flex;
  min-width: 100vw;
  min-height: 100vh;

  @apply bg-gbh-1 text-gbh-3;
}

::selection {
  color: currentColor;
  @apply bg-gbh-2;
}